[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  command = "npm install && npm run build"
  publish = "dist"

[functions]
  directory = "dist/server"   # â† compiled functions live here

[[plugins]]
  package = "netlify-plugin-cancel-previous-deploys"

[plugins.inputs]
  keep_last = 1 